html {
    padding:0;
    margin:0;
}

body {
  background-color:#003E4C;
  color:#fff;
  margin:0;
  padding:0;
  font-family:sans-serif;
}

#wrapper {
  background-color:#fff;
  color:#000;
  width:100%;
  margin:auto;
  padding:0;
}

#header {
  background-color:#007F9C;
  color:#fff;
  padding:10px 10px 0px 10px;
}

#header h1 {
    float:left;
}

#epicenter {
    text-align:right;
}

#logout, #inbox{
    display:block;
}

#content {
  padding:5px;
}

div.input label {
  display:block;
  float:left;
  width:100px;
  padding-right:4px;
}

div.input div.input {
  padding-left:100px;
}

div.input span.invalid > input {
  background-color:#fee;
}

div.input span.valid {
  background-color:#efe;
  padding:3px 18px 3px 3px;
}

#checkin {
    float:left;
    width:50%;
    height:100%;
}

#entry-search {
    width:50%;
    float:right;
}
